:root {
    --light-text-color:rgb(0, 0, 0);
    --light-bg-color:rgb(255, 255, 255);
    --dark-text-color:rgb(233, 231, 231);
    --dark-bg-color:#4d4d4d;
}
body{
    color: var(--light-text-color);
    background-color: var(--light-bg-color);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3px;
}
header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 3px;
}
.theme-changer{
    width: 70px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.theme-changer:hover{
    background-color: var(--light-text-color);
    color: white;
    transition-duration: 1s;
}
main{
    display: flex;
    flex-direction: row;
}
main aside{
    border: 1px solid rgb(3, 3, 3); 
    width: 15vw;
    text-align: center;
}
main aside ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 40px;
    height: 90vh;
    font-size: 20px;
    font-weight: 600;
}
.content{
    width: 85vw;
}
.content h1{
    text-align: center;
}
.content .text{
    padding: 20px;
    line-height: 20px;
    font-size: 17px;
}
img{
    width: 160px;
}
span{
    padding: 5px;
    border: 1px solid rgb(3, 3, 3); 
    position: fixed;
    height: fit-content;
}